.advantages {
    min-height: 470px;
    padding: 70px 0;
    background-color: #F6F6F6;

    &__wrapper {
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__item {
        width: 280px;
        text-align: center;
    }

    &__header {
        margin-top: 30px;
        color: #0D0D0D;
        font-size: 18px;
        font-weight: 700;
        line-height: 29px;
    }

    &__descr {
        color: #0D0D0D;
        font-size: 14px;
        font-weight: 300;
        line-height: 18px;

        a {
            color: $main-color;
        }

        a:hover {
            text-decoration: none;
        }
    }

}